[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
langchain = "*"
chromadb = "*"
pytest = "*"
boto3 = "*"
langchain-community = "*"
langchain-cli = "*"
langchain-ollama = "*"
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.13"
